/*
  Top portion theming
*/
.title {
  color: white;
  font-weight: 800;
  text-align: center;
  font-size: 100px;
  padding-top: 10vh;
}

.background {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 60%;
}

.bumps {
  background-image: url("../images/bumps_white.png");
  background-repeat: repeat-x;
  transform: rotate(180deg);
  background-position: bottom;
  background-size: contain;
  height: 40px;
  width: 120%;
}


/*
  General Themes
*/

.warning {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: red;
    color: white;
    text-align: center;
}

body {
    background-color: #414040;
    overflow-x: hidden;
}

.gray {
  color: #cfcdcd !important;
}

a,h1,h2,h3,h4,h5,h6,p,b,label,i,td,tr {
  color: white;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.center {
  text-align: center;
}

.divider {
  background-color: gray;
  height: 2px;
  width: 100%;
  border-radius: 10px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.small-dark {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px;
}

.green {
  color: #66ff66;
}

/*
  Content theme
*/
.key {
  letter-spacing: 11px;
  font-size: 70px;
  text-align: center;
}

.lights {
  background-image: url("../images/lights.png");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
  height: 60px;
  width: 120%;
}
.col-6 .material-icons {
  font-size: 100px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
pre code {
  color: white;
}

/*Code Theme*/
.dark pre code .aqua {
  color: #4ec9b0;
}
.dark pre code .blue {
  color: #569cd6;
}
.dark pre code .l-blue {
  color: #9cdcfe;
}
.dark pre code .yellow {
  color: #dcdcaa;
}
.dark pre code .green {
  color: #6a9955;
}
.dark pre code .orange {
  color: #ce9178;
}
.example {
  width: 100%;
}

/*
  Mobile theming
*/
@media (max-width:960px) {
  .bumps {
    height: 20px;
  }
  .title {
    width: auto;
    height: auto;
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 50px;
    padding-top: 10%;
    color: black;
  }
  .key {
    letter-spacing: 11px;
    font-size: 40px;
    text-align: center;
  }
  .example {
    display: none;
  }
}

/*
  {santaclausiscomingtotown}
*/
